@model OdeToFood.ViewModels.HomeIndexViewModel

@{ 
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var resturant in Model.Restaurants)
        {
        <tr>
            <td>@resturant.Id</td>
            <td>@resturant.Name</td>
            <td>
                <a href="home/details/@resturant.Id">Details</a> | 
                @Html.ActionLink("GO", "Details", new { id=resturant.Id}) |
                <a asp-action="Details" asp-route-id="@resturant.Id" >More</a>
            </td>
        </tr>
        }

    </table>
<div>
    @section footer{ 
        <div> Section Footer is set to true or required...</div>
    }
</div>
